[submodule "libs/pybind11"]
	path = libs/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "libs/unrealsdk"]
	path = libs/unrealsdk
	url = ../../bl-sdk/unrealsdk.git
[submodule "common_cmake"]
	path = common_cmake
	url = ../../bl-sdk/common_cmake.git
