from typing import Any

from ._uobject_children import UField, UScriptStruct, ZProperty
from ._wrapped_struct import WrappedStruct

{% set classes = [
    "unrealsdk.unreal.FGbxDefPtr",
    "unrealsdk.unreal.WrappedInlineStruct",
] %}
{{ classes | declare_all }}
