from collections.abc import Iterator
from typing import Any, Never

from ._bound_function import BoundFunction
from ._uobject_children import UFunction

{{ "unrealsdk.unreal.WrappedMulticastDelegate" | declare }}
